<!-- header area start -->
<header class="header-area ptb-10">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="header-left-content">
          <ul>
            <li>
              <a href="#"><i class="fa fa-phone"></i>0123 4567 8913</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-envelope"></i>{{contactInfos?.value}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-5">
        <div class="header-right-content">
          <ul>
            <li>
              <select>
                <option value="En">En</option>
                <option value="Bd">Bd</option>
              </select>
            </li>
            <li>
              <a href="#" class="popup-show">Login</a>
              <div class="login-popup login-form contact-form">
                <h4>Login</h4>
                <form action="#">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="contact-container">
                        <input type="email" placeholder="Email Address" />
                        <i class="fa fa-envelope"></i>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="contact-container">
                        <input type="password" placeholder="Password" />
                        <i class="fa fa-eye"></i>
                      </div>
                    </div>
                    <div class="col-sm-6 text-left">
                      <input type="checkbox" />
                      <p>Remember me</p>
                    </div>
                    <div class="col-sm-6 text-right">
                      <div class="popup-light"><p>Forget Password ?</p></div>
                    </div>
                    <div class="col-sm-12 mtb-20">
                      <button class="aquaponic-btn">LOGIN</button>
                    </div>
                    <div class="col-sm-12">
                      <div class="sign-with"><p>Or Sign In With</p></div>
                    </div>
                    <div class="col-sm-12 mb-15">
                      <a href="#" class="login-with"
                        ><i class="fa fa-facebook"></i
                      ></a>
                      <a href="#" class="login-with"
                        ><i class="fa fa-twitter"></i
                      ></a>
                    </div>
                    <div class="col-sm-12">
                      <p>
                        Don’t Have an Account ?
                        <a href="#" class="registration-form-show"
                          >Create Now</a
                        >
                      </p>
                    </div>
                  </div>
                </form>
                <div class="popup-close"><i class="fa fa-close"></i></div>
              </div>
              <div class="login-popup registration-form contact-form">
                <h4>Create Account</h4>
                <form action="#">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="contact-container">
                        <input type="text" placeholder="Username" />
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="contact-container">
                        <input type="email" placeholder="Email Address" />
                        <i class="fa fa-envelope"></i>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="contact-container">
                        <input type="password" placeholder="Password" />
                        <i class="fa fa-eye"></i>
                      </div>
                    </div>
                    <div class="col-sm-12 mb-15">
                      <input type="password" placeholder="Retype Password" />
                    </div>
                    <div class="col-sm-12 text-left">
                      <input type="checkbox" />
                      <p>Agree with <span>terms and condition</span></p>
                    </div>
                    <div class="col-sm-12 mtb-20">
                      <button class="aquaponic-btn">Create Account</button>
                    </div>
                    <div class="col-sm-12">
                      <p>
                        Already Have an Account ?
                        <a href="#" class="login-form-show">Login Now</a>
                      </p>
                    </div>
                  </div>
                </form>
                <div class="popup-close"><i class="fa fa-close"></i></div>
              </div>
            </li>
            <li>
              <a href="#" class="aquaponic-cart"
                ><i class="fa fa-shopping-cart"></i> <span>3</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header area end -->
<!-- menu area start -->
