<!-- footer area start -->
<footer class="footer ptb-30">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-5">
        <div class="footer-copyright">
          <p>
            Copyright
            <a href="https://themeforest.net/user/envalab/portfolio?ref=envalab"
              >Envalab</a
            >
            - All Right Reserved
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-7">
        <div class="footer-menu">
          <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Term</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer area end -->
