<!-- team member area start -->
<section class="team-member ptb-80">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="sec-title">
					<h2>Our Team Members</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
						standard dummy text ever</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 offset-lg-1 col-md-8 offset-md-2">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-member max-width-320">
							<div class="single-member-img">
								<img src="assets/img/member/1.jpg" alt="member">
							</div>
							<div class="single-member-info">
								<p><a href="#">Mumtahina Nity</a></p>
								<div class="single-member-contact">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-pinterest"></i></a>
									<a href="#"><i class="fa fa-vimeo"></i></a>
								</div>
								<a href="#" class="read-more">View Profile<i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-member max-width-320">
							<div class="single-member-img">
								<img src="assets/img/member/2.jpg" alt="member">
							</div>
							<div class="single-member-info">
								<p><a href="#">Mumtahina Nity</a></p>
								<div class="single-member-contact">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-pinterest"></i></a>
									<a href="#"><i class="fa fa-vimeo"></i></a>
								</div>
								<a href="#" class="read-more">View Profile<i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-member max-width-320">
							<div class="single-member-img">
								<img src="assets/img/member/3.jpg" alt="member">
							</div>
							<div class="single-member-info">
								<p><a href="#">Mumtahina Nity</a></p>
								<div class="single-member-contact">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-pinterest"></i></a>
									<a href="#"><i class="fa fa-vimeo"></i></a>
								</div>
								<a href="#" class="read-more">View Profile<i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-member max-width-320">
							<div class="single-member-img">
								<img src="assets/img/member/4.jpg" alt="member">
							</div>
							<div class="single-member-info">
								<p><a href="#">Mumtahina Nity</a></p>
								<div class="single-member-contact">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-pinterest"></i></a>
									<a href="#"><i class="fa fa-vimeo"></i></a>
								</div>
								<a href="#" class="read-more">View Profile<i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- team member area end -->