<!-- timeline area start -->
<section class="cd-horizontal-timeline ptb-80">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="sec-title">
					<h2>How Aquaponic System Works</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
						standard dummy text ever</p>
				</div>
			</div>
		</div>
	</div>
	<div class="timeline">
		<div class="events-wrapper">
			<div class="events">
				<ol>
					<li><a href="#0" data-date="16/01/2014" class="selected">Overview</a></li>
					<li><a href="#0" data-date="28/02/2014">House</a></li>
					<li><a href="#0" data-date="20/04/2014">Foods</a></li>
					<li><a href="#0" data-date="20/05/2014">Cropping</a></li>
					<li><a href="#0" data-date="09/07/2014">Product</a></li>
					<li><a href="#0" data-date="30/08/2014">About</a></li>
					<li><a href="#0" data-date="15/09/2014">Contact</a></li>
					<li><a href="#0" data-date="01/11/2014">Files</a></li>
					<li><a href="#0" data-date="10/12/2014">Houses</a></li>
					<li><a href="#0" data-date="19/01/2015">Experience</a></li>
				</ol>
				<span class="filling-line" aria-hidden="true"></span>
			</div>
		</div>
		<ul class="cd-timeline-navigation">
			<li><a href="#0" class="prev inactive"></a></li>
			<li><a href="#0" class="next"></a></li>
		</ul>
	</div>
	<div class="events-content">
		<ol>
			<li class="selected" data-date="16/01/2014">
				<div class="row flexbox-center">
					<div class="col-lg-6">
						<div class="timeline-para">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
								industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
								scrambled it to make a type specimen book.</p>
							<p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
								not only five centuries, but also the leap.</p>
							<ul>
								<li>Lorem Ipsum is simply dummy text</li>
								<li>The printing and typesetting industry </li>
								<li>Lorem Ipsum has been the industry</li>
								<li>essentially unchanged standard text</li>
							</ul>
							<a href="#" class="aquaponic-btn">Watch Video</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="video-play">
							<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube"><i class="icofont circled-icon icofont-ui-play"></i><span>Watch
									Overview</span></a>
							<div class="video-play-border"></div>
						</div>
					</div>
				</div>
			</li>
			<li data-date="28/02/2014">
				<div class="row flexbox-center">
					<div class="col-lg-6">
						<div class="timeline-para">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
								industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
								scrambled it to make a type specimen book.</p>
							<p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
								not only five centuries, but also the leap.</p>
							<ul>
								<li>Lorem Ipsum is simply dummy text</li>
								<li>The printing and typesetting industry </li>
								<li>Lorem Ipsum has been the industry</li>
								<li>essentially unchanged standard text</li>
							</ul>
							<a href="#" class="aquaponic-btn">Watch Video</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="video-play">
							<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube"><i class="icofont circled-icon icofont-ui-play"></i><span>Watch
									Overview</span></a>
							<div class="video-play-border"></div>
						</div>
					</div>
				</div>
			</li>
			<li data-date="20/04/2014">
				<div class="row flexbox-center">
					<div class="col-lg-6">
						<div class="timeline-para">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
								industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
								scrambled it to make a type specimen book.</p>
							<p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
								not only five centuries, but also the leap.</p>
							<p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
								not only five centuries, but also the leap. when an unknown printer took a galley of type and scrambled it to
								make a type specimen book. It has survived not only five centuries, but also the leap.</p>
							<a href="#" class="aquaponic-btn">Watch Video</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="video-play">
							<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube"><i class="icofont circled-icon icofont-ui-play"></i><span>Watch
									Overview</span></a>
							<div class="video-play-border"></div>
						</div>
					</div>
				</div>
			</li>
			<li data-date="20/05/2014">
				<div class="row flexbox-center">
					<div class="col-lg-6">
						<div class="timeline-para">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
								industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
								scrambled it to make a type specimen book.</p>
							<p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
								not only five centuries, but also the leap.</p>
							<ul>
								<li>Lorem Ipsum is simply dummy text</li>
								<li>The printing and typesetting industry </li>
								<li>Lorem Ipsum has been the industry</li>
								<li>essentially unchanged standard text</li>
							</ul>
							<a href="#" class="aquaponic-btn">Watch Video</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="video-play">
							<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube"><i class="icofont circled-icon icofont-ui-play"></i><span>Watch
									Overview</span></a>
							<div class="video-play-border"></div>
						</div>
					</div>
				</div>
			</li>
			<li data-date="09/07/2014">
				<div class="row flexbox-center">
					<div class="col-lg-6">
						<div class="timeline-para">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
								industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
								scrambled it to make a type specimen book.</p>
							<p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
								not only five centuries, but also the leap.</p>
							<ul>
								<li>Lorem Ipsum is simply dummy text</li>
								<li>The printing and typesetting industry </li>
								<li>Lorem Ipsum has been the industry</li>
								<li>essentially unchanged standard text</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="video-play">
							<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube"><i class="icofont circled-icon icofont-ui-play"></i><span>Watch
									Overview</span></a>
							<div class="video-play-border"></div>
						</div>
					</div>
				</div>
			</li>
			<li data-date="30/08/2014">
				<div class="row flexbox-center">
					<div class="col-lg-6">
						<div class="timeline-para">
							<ul>
								<li>Lorem Ipsum is simply dummy text</li>
								<li>The printing and typesetting industry </li>
								<li>Lorem Ipsum has been the industry</li>
								<li>essentially unchanged standard text</li>
								<li>Lorem Ipsum is simply dummy text</li>
								<li>The printing and typesetting industry </li>
								<li>Lorem Ipsum has been the industry</li>
								<li>essentially unchanged standard text</li>
							</ul>
							<a href="#" class="aquaponic-btn">Watch Video</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="video-play">
							<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube"><i class="icofont circled-icon icofont-ui-play"></i><span>Watch
									Overview</span></a>
							<div class="video-play-border"></div>
						</div>
					</div>
				</div>
			</li>
			<li data-date="15/09/2014">
				<div class="row flexbox-center">
					<div class="col-lg-6">
						<div class="timeline-para">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
								industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
								scrambled it to make a type specimen book.</p>
							<p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
								not only five centuries, but also the leap.</p>
							<ul>
								<li>Lorem Ipsum is simply dummy text</li>
								<li>The printing and typesetting industry </li>
								<li>Lorem Ipsum has been the industry</li>
								<li>essentially unchanged standard text</li>
							</ul>
							<a href="#" class="aquaponic-btn">Watch Video</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="video-play">
							<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube"><i class="icofont circled-icon icofont-ui-play"></i><span>Watch
									Overview</span></a>
							<div class="video-play-border"></div>
						</div>
					</div>
				</div>
			</li>
			<li data-date="01/11/2014">
				<div class="row flexbox-center">
					<div class="col-lg-6">
						<div class="timeline-para">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
								industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
								scrambled it to make a type specimen book.</p>
							<p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
								not only five centuries, but also the leap.</p>
							<ul>
								<li>Lorem Ipsum is simply dummy text</li>
								<li>The printing and typesetting industry </li>
								<li>Lorem Ipsum has been the industry</li>
								<li>essentially unchanged standard text</li>
							</ul>
							<a href="#" class="aquaponic-btn">Watch Video</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="video-play">
							<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube"><i class="icofont circled-icon icofont-ui-play"></i><span>Watch
									Overview</span></a>
							<div class="video-play-border"></div>
						</div>
					</div>
				</div>
			</li>
			<li data-date="10/12/2014">
				<div class="row flexbox-center">
					<div class="col-lg-6">
						<div class="timeline-para">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
								industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
								scrambled it to make a type specimen book.</p>
							<p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
								not only five centuries, but also the leap.</p>
							<ul>
								<li>Lorem Ipsum is simply dummy text</li>
								<li>The printing and typesetting industry </li>
								<li>Lorem Ipsum has been the industry</li>
								<li>essentially unchanged standard text</li>
							</ul>
							<a href="#" class="aquaponic-btn">Watch Video</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="video-play">
							<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube"><i class="icofont circled-icon icofont-ui-play"></i><span>Watch
									Overview</span></a>
							<div class="video-play-border"></div>
						</div>
					</div>
				</div>
			</li>
			<li data-date="19/01/2015">
				<div class="row flexbox-center">
					<div class="col-lg-6">
						<div class="timeline-para">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
								industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
								scrambled it to make a type specimen book.</p>
							<p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
								not only five centuries, but also the leap.</p>
							<ul>
								<li>Lorem Ipsum is simply dummy text</li>
								<li>The printing and typesetting industry </li>
								<li>Lorem Ipsum has been the industry</li>
								<li>essentially unchanged standard text</li>
							</ul>
							<a href="#" class="aquaponic-btn">Watch Video</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="video-play">
							<a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube"><i class="icofont circled-icon icofont-ui-play"></i><span>Watch
									Overview</span></a>
							<div class="video-play-border"></div>
						</div>
					</div>
				</div>
			</li>
		</ol>
	</div> <!-- .events-content -->
</section><!-- timeline area end -->