<!-- about area start -->
<section class="about-area ptb-100" id="about">
	<div class="container">
		<div class="row flexbox-center">
			<div class="col-lg-6">
				<div class="about-area-slide">
					<owl-carousel [options]="aboutSliderOptions" [carouselClasses]="['owl-theme', 'sliding']">
						<div class="about-area-single-slide">
							<img src="assets/img/about-slide/slide-5.jpg" alt="about-slide">
						</div>
						<div class="about-area-single-slide">
							<img src="assets/img/about-slide/slide-5.jpg" alt="about-slide">
						</div>
						<div class="about-area-single-slide">
							<img src="assets/img/about-slide/slide-5.jpg" alt="about-slide">
						</div>
						<div class="about-area-single-slide">
							<img src="assets/img/about-slide/slide-5.jpg" alt="about-slide">
						</div>
						<div class="about-area-single-slide">
							<img src="assets/img/about-slide/slide-5.jpg" alt="about-slide">
						</div>
					</owl-carousel>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about-area-info">
					<h2>About Us</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
						standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
						a type specimen book. </p>
					<p>Domestic confined any but son bachelor advanced remember. How proceed offered her offence shy formng returnede
						peculiar pleasant but appetite differed she. Residence dejection agreement am as to abilities immediate
						suffering ami depending propriety sweetness distrusts belonging collected.</p>
					<a href="#" class="read-more">Read more<i class="fa fa-angle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section><!-- about area end -->